.activitiesContainer{
    margin: 1em;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.name, .startDate, .artistName, .activityDescription, .showActivityButton{
    -webkit-flex-grow: 1;
    flex-grow: 1; /* default 0 */
    padding: 1em;
}

.searchContainer{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 1em;
}

.searchResults{

    margin: 1em;
    margin-top: 2em;
}