.activitiesContainer{
    margin: 1em;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.name, .startDate, .artistName, .activityDescription{
    -webkit-flex-grow: 1;
    flex-grow: 1; /* default 0 */
    padding: 1em;
}

.showActivityButton {
	margin-right: 55px;
	height: 37px;
}