.activitiesContainer{
    margin: 1em;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
}


.name, .startDate, .artistName, .activityDescription, .showActivityButton{
    -webkit-flex-grow: 1;
    flex-grow: 1; /* default 0 */
    padding: 1em;
    width: 50%;
}

.searchContainer{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 1em;
}

.searchResults{

    margin: 1em;
    margin-top: 2em;
}

.search-input {
	top: -10px;
	margin-bottom: 20px;
}

.footer {
	
	heigth: 50px;
}